* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 10px;
  background-color: rosybrown;
}

header {
  border-bottom: 2px solid black;
  position: fixed;
  display: flex;
  top: 0;
  width: 50%;
  justify-content: center;
}

h1 {
  display: flex;
}

nav {
  position: fixed;
  bottom: 0;
  display: flex;
}

.question-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
  width: 400px;
  height: 400px;
  background-color: rosybrown;
  border: 3px solid #000;
  padding: 50px;
}
