* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 10px;
  border-bottom: 2px solid black;
}

h1 {
  display: flex;
}
