* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 350px;
}

body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 10px;
  background-color: rosybrown;
  width: 600px;
  margin: 10px;
}
