nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  left: 130px;
  text-align: center;
  border-radius: 10px;
  background-color: lightslategray;
}
.nav__bookmark {
  border-bottom: 7px solid red;
  border-radius: 8px;
  border-end-start-radius: 30px;
}
